:root{
  --amarillo: rgb(212, 212, 0);
  --azul: rgb(0, 255, 255);
  --azultrans: rgba(0,255,255,0.2);
  --negrojs: #222;
  --violeta: rgb(246, 32, 51);
  --violetaTrans: rgba(246, 32, 50, 0.15);
  --gris: rgb(120, 122, 151);
  --rojo: rgba(255, 0, 0, 0.247);
}

html{
  height:100%;
  background:linear-gradient(0deg,rgb(0, 0, 10)0%, rgb(246, 32, 51)1000%);
}

body{
  width: 100%;
  min-height: 100%;
  color:var(--azul);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
}

pre{
text-align: left;
}

section#no-js {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,.5);
}

p#noscript {
font-size: 4vw;
font-weight: bold;
font-family: sans-serif;
animation: 1.25s noScript linear infinite;
}


::selection, ::-moz-selection {
  background-color: var(--negrojs);
}

input::selection, input::-moz-selection {
 background-color: var(--azultrans);
}




main{
  width: 100%;
  min-height: 100%;
  position: absolute;
}

fieldset#chat{
  display:flex;
  width: 90vw;
  height: 95%;
  position:absolute;
  font-size: 35%;
  padding-left: 0%;
  border: 2px solid var(--rojo);
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 2.5%;
  flex-wrap: wrap;
}

#mensajes{
  width: 70vw;
  height: 80%;
  margin-left: 1%;
  overflow-y: scroll;
  scrollbar-color: rgba(207, 0, 0, 0.5) transparent;
}

#mensajes section:not(.servidor) {

font-size: 4em;
color: var(--amarillo);
background-color: var(--rojo);
margin: .1em;
border-radius: 5px;
padding: 0px 5px;
position: relative;
margin-top: .5vh;
}

#mensajes section span.hora {
float: right;
color: #868b8e;
font-size: 0.8em;
}

#mensajes section .usuario {
font-weight: bold;
}

#mensajes section .mensaje {
display: inline;
white-space: normal;
}

#mensajes section:not(.servidor) .hora {
position: absolute;
bottom: 0px;
right:0px;
}

#mensajes section.servidor div.separador {
display:none;
visibility: none;
}

#mensajes section .separador {
height: 25px;
margin-top: -1px;
}


#usuarios{
  width: 16vw;
  height:80%;
  border-left: 2px solid rgba(226, 0, 0, 0.432);
  margin-left: 1%;
}

#usuarios ul {
font-size: 4em;
color: RGB(65, 151, 122);
list-style-type: none;
padding-left: 10%;
word-break: break-all;
}

section#usuarios ul li {
text-align: center;
border: 1px solid  var(--violeta);
width: 90%;
margin-left: 5%;
background-color: var(--violetaTrans);
margin-bottom: 10px;
}


#mensajes section.servidor {
background-color: none;
font-size: 3em;
color: var(--gris);
padding: 0px 5px;
margin-top: .5em;
}

#mensajes section span.mensaje{
overflow-wrap: break-word;
max-width: 80%;
}


#mensajes section.servidor .usuario {
display: none;
}

form{
  width: 100%;
  padding: 1%;
  display: grid;
  grid-template-columns: 80% 15%;
  grid-column-gap: 1%;
}
textarea, fieldset.introducir-nombre{
  height:10vh;
  border:1px solid var(--azul);
  background: rgba(100, 0, 0, 0.1);
  color: var(--amarillo);
  border-style:solid;
}

textarea{
  outline: none;
  scrollbar-color: var(--amarillo)  var(--negrojs);
  resize: none;
}


input[type="submit"], #switch-vista{
  border:none;
  vertical-align:top;
  padding:3vh;
  margin-left: 0.45%;
  background-color: var(--negrojs);
  color: var(--amarillo);
  cursor: pointer;
}

input[type="submit"]:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0,0,0, 0.24)
}

section#zona-interaccion{
width: 100%;
}

.introducir-nombre {
display:grid;
align-items: center;
text-align: center;
}

fieldset.introducir-nombre label{
font-size: 3em;
font-weight: bold;
}

fieldset.introducir-nombre label input#nombre-usuario {
background-color: var(--negrojs);
border: none;
border-bottom: 3px solid var(--amarillo);
color: var(--amarillo);
font-size: 1em;
width: 20vw;
}

fieldset.introducir-nombre label input:focus {
outline: none;
}


#switch-vista{
display: none;
}


@media screen and (max-width: 690px) {
section#mensajes{
  width: 100%;
  font-size: 1vw;
}

section#usuarios{
  display: none;
}


section.usuario-mensaje {
  width: 80vw;
  
}


form#formulario-interaccion {
  grid-template-columns: 85% 13%;
}

fieldset.introducir-nombre {
  font-size: 1vw;
  min-height: 50px;
}

fieldset.introducir-nombre label input#nombre-usuario {
  width: 98%;
}

input#enviar {
  padding: 0;
  font-size: 3vw;
}

pre {
  font-size: .5vw;
}

#mensajes section span.hora{
  font-size: 2vw;
  text-align: right;
  padding: 1vw;
}

#switch-vista {
  display: block;
  width: 70%;
  margin: 1vw 10%;
  padding: 2.5vw;
  position: absolute;
  bottom: -70px;
}

@media screen and (max-height: 420px) {

  #mensajes section span.mensaje {
    width: 670px;
    word-break: break-all;
    word-wrap:break-word;
  }
}

#usuarios {
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: rgba(207,0,0, 0.5) rgba(0,0,0,0);
  border: none;
}

#usuarios ul {
  padding-left: 0px;
}

}

@keyframes noScript {
0% {
  margin-top: -10px;
}
50% {
  margin-top: 10px;
}
100% {
  margin-top: -10px;
}
}

@-moz-keyframes noScript {
0% {
  margin-top: -10px;
}
50% {
  margin-top: 10px;
}
100% {
  margin-top: -10px;
}
}

@-webkit-keyframes noScript {
0% {
  margin-top: -10px;
}
50% {
  margin-top: 10px;
}
100% {
  margin-top: -10px;
}
}

@-ms-keyframes noScript {
0% {
  margin-top: -10px;
}
50% {
  margin-top: 10px;
}
100% {
  margin-top: -10px;
}
}

@-o-keyframes noScript {
0% {
  margin-top: -10px;
}
50% {
  margin-top: 10px;
}
100% {
  margin-top: -10px;
}
}

::placeholder {
text-align: center;
}
::-webkit-input-placeholder {
 text-align: center;
}

:-moz-placeholder {
 text-align: center;
}

::-moz-placeholder {
 text-align: center;
}

:-ms-input-placeholder {
 text-align: center;
}